---
export interface Props {
	title: string;
	body: string;
	img: string;
	date: string;
}

const { img, title, body, date } = Astro.props;
---

<div class="p-7 lg:p-10 shadow-md hover:scale-105 hover:shadow-xl transition duration-300 ease-in-out">
	<!-- <img src={img} class="md:max-w-xl" alt=""> -->
	<div class="">
		<span class="text-sm">
			<h1 class="font-bold text-2xl capitalize">{title}</h1>
			<p class="text-zinc-500 mb-1 text-sm font-semibold">{date}</p>
		</span>
		<p class="text-lg">{body}</p>
	</div>
</div>
